<a href="https://colab.research.google.com/github/cotpetru24/data_mining/blob/main/stu124543_data_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import the necessary libraries

In [18]:
import pandas as pd
import numpy as np

Import dataset => pd.read_excel() & pd.read_csv()

In [14]:
# 1 - Import the dataset
df_temp = pd.read_excel("/content/Lobster_Data_Set.xlsx")
# 2 - Convert the dataset to .csv
df_temp.to_csv("/content/lobster_data_set.csv", index = False)
# 3 - Import the dataset in .csv format
df = pd.read_csv("lobster_data_set.csv")

Print the shape and info of the dataframe => df.shape() & df.info()

In [15]:
print(f"Dataset shape = {df.shape}\n")
print("Dataset info\n")
print(df.info())

Dataset shape = (2097, 8)

Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sex               2097 non-null   object
 1   Length(mm)        2095 non-null   float64
 2   Diameter(mm)      2096 non-null   float64
 3   Height(mm)        2096 non-null   float64
 4   WholeWeight(g)    2096 non-null   float64
 5   ShuckedWeight(g)  2095 non-null   float64
 6   SellWeight(g)     2096 non-null   float64
 7   Spots             2097 non-null   int64
dtypes: float64(6), int64(1), object(1)
memory usage: 131.2+ KB
None

Preview the dataset - df.head()

In [16]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
print("Dataset preview:\n")
print(df.head(10))

Dataset preview:

  Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  SellWeight(g)  Spots
0   M       0.455         0.365       0.095          0.5140            0.2245          0.150     15
1   M       0.350         0.265       0.090          0.2255            0.0995          0.070      7
2   F       0.530         0.420       0.135          0.6770            0.2565          0.210      9
3   M       0.440         0.365       0.125          0.5160            0.2155          0.155     10
4   I       0.330         0.255       0.080          0.2050            0.0895          0.055      7
5   I       0.425         0.300       0.095          0.3515            0.1410          0.120      8
6   F       0.530         0.415       0.150          0.7775            0.2370          0.330     20
7   F       0.545         0.425       0.125          0.7680            0.2940          0.260     16
8   M       0.475         0.370       0.125          0.5095            0.2165          0.165      9
9   F       0.550         0.440       0.150          0.8945            0.3145          0.320     19

Display only categorical data

In [19]:
df_categorical = df.select_dtypes(exclude=np.number)
print(df_categorical)

     Sex
0      M
1      M
2      F
3      M
4      I
...   ..
2092   M
2093   F
2094   I
2095   M
2096   M

[2097 rows x 1 columns]

Identify the unique values of the 'Sex' column

In [20]:
print(df_categorical.Sex.value_counts())

M    771
I    683
F    641
0      2
Name: Sex, dtype: int64

Drop the rows where "Sex" == '0'

In [21]:
condition = df[(df['Sex'] == '0')].index
clean_df = df.drop(condition)

Confirm dataframe doesn't contain rows where 'Sex' == '0'

In [22]:
clean_df_categorical = clean_df.select_dtypes(exclude=np.number)
print(clean_df_categorical.Sex.value_counts())

M    771
I    683
F    641
Name: Sex, dtype: int64

Replace categorical data with numerical and store the unique values of the numerical data in a dictionary

In [23]:
sex_categorical = { 1: 'M', 2: 'F', 3: 'I'}
clean_df['Sex'].replace({'M': 1, 'F': 2, 'I': 3}, inplace=True)

Confirm categorical values have been replaced and dataframe has been updated

In [24]:
print(clean_df.info())
print(clean_df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2095 entries, 0 to 2096
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sex               2095 non-null   int64
 1   Length(mm)        2093 non-null   float64
 2   Diameter(mm)      2094 non-null   float64
 3   Height(mm)        2094 non-null   float64
 4   WholeWeight(g)    2094 non-null   float64
 5   ShuckedWeight(g)  2093 non-null   float64
 6   SellWeight(g)     2094 non-null   float64
 7   Spots             2095 non-null   int64
dtypes: float64(6), int64(2)
memory usage: 147.3 KB
None
      Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  SellWeight(g)  Spots
0       1       0.455         0.365       0.095          0.5140            0.2245          0.150     15
1       1       0.350         0.265       0.090          0.2255            0.0995          0.070      7
2       2       0.530         0.420       0.135          0.6770            0.2565          0.210      9
3       1       0.440         0.365       0.125          0.5160            0.2155          0.155     10
4       3       0.330         0.255       0.080          0.2050            0.0895          0.055      7
...   ...         ...           ...         ...             ...               ...            ...    ...
2092    1       0.530         0.425       0.130          0.7455            0.2995          0.245     10
2093    2       0.505         0.385       0.115          0.6160            0.2430          0.210     11
2094    3       0.405         0.305       0.090          0.2825            0.1140          0.095      7
2095    1       0.415         0.300       0.100          0.3355            0.1545          0.095      7
2096    1       0.500         0.390       0.145          0.6510            0.2730          0.220     11

[2095 rows x 8 columns]


Checking the dataset for missing values and printing the total number of cells where value is missing

In [30]:
print("Number of cells where value is missing - each column:")
print(clean_df.isnull().sum())
print(f"\nTotal number of cells where value is missing = {clean_df.isnull().sum().sum()}")

Number of cells where value is missing - each column:
Sex                 0
Length(mm)          2
Diameter(mm)        1
Height(mm)          1
WholeWeight(g)      1
ShuckedWeight(g)    2
SellWeight(g)       1
Spots               0
dtype: int64

Total number of cells where value is missing = 8