<a href="https://colab.research.google.com/github/cotpetru24/data_mining/blob/main/stu124543.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dataset and vreviewing the data

In [3]:
import pandas as pd
import numpy as np

df = pd. read_excel("/content/Lobster_Data_Set_-_[2925].xlsx")

print(df.describe())

        Length(mm)  Diameter(mm)   Height(mm)  WholeWeight(g)  \
count  2095.000000   2096.000000  2096.000000     2096.000000
mean      0.520800      0.405527     0.138903        0.818335
std       0.122193      0.101275     0.045252        0.495877
min       0.000000      0.000000     0.000000        0.000000
25%       0.450000      0.345000     0.115000        0.430000
50%       0.540000      0.420000     0.140000        0.792000
75%       0.610000      0.480000     0.165000        1.133125
max       0.815000      0.650000     1.130000        2.825500

       ShuckedWeight(g)  SellWeight(g)        Spots
count       2095.000000    2096.000000  2097.000000
mean           0.355132       0.235823     9.870768
std            0.225217       0.140666     3.297725
min            0.000000       0.001500     0.000000
25%            0.180000       0.121875     8.000000
50%            0.332500       0.230000     9.000000
75%            0.495500       0.322625    11.000000
max            1.488000       1.005000    29.000000

# New section

//Checking the dataset for NULL values
//printing the total number of attributes that are null

In [4]:
print(df.isnull())
print(df.isnull().sum())
print(f"Total number of blanck cells {df.isnull().sum().sum()}")

        Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0     False       False         False       False           False
1     False       False         False       False           False
2     False       False         False       False           False
3     False       False         False       False           False
4     False       False         False       False           False
...     ...         ...           ...         ...             ...
2092  False       False         False       False           False
2093  False       False         False       False           False
2094  False       False         False       False           False
2095  False       False         False       False           False
2096  False       False         False       False           False

      ShuckedWeight(g)  SellWeight(g)  Spots
0                False          False  False
1                False          False  False
2                False          False  False
3                False          False  False
4                False          False  False
...                ...            ...    ...
2092             False          False  False
2093             False          False  False
2094             False          False  False
2095             False          False  False
2096             False          False  False

[2097 rows x 8 columns]
Sex                 0
Length(mm)          2
Diameter(mm)        1
Height(mm)          1
WholeWeight(g)      1
ShuckedWeight(g)    2
SellWeight(g)       1
Spots               0
dtype: int64
Total number of blanck cells 8

//printing the total number of instances of an attribute that are null

In [5]:
print(f"total no of columns with value == 0 => {(df==0).sum().sum()}")

for column_name in df.columns:
  print(f"\nColumn name = {column_name}")
  print(f"Cells with values == 0 => {(df[column_name]==0).sum()}")

total no of columns with value == 0 => 16

Column name = Sex
Cells with values == 0 => 0

Column name = Length(mm)
Cells with values == 0 => 1

Column name = Diameter(mm)
Cells with values == 0 => 1

Column name = Height(mm)
Cells with values == 0 => 3

Column name = WholeWeight(g)
Cells with values == 0 => 4

Column name = ShuckedWeight(g)
Cells with values == 0 => 4

Column name = SellWeight(g)
Cells with values == 0 => 0

Column name = Spots
Cells with values == 0 => 3

//filtering the dataset based on the sex value

In [6]:
df_m = df[df['Sex'] == 'M']
print(df_m.head())

   Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0    M       0.455         0.365       0.095          0.5140
1    M       0.350         0.265       0.090          0.2255
3    M       0.440         0.365       0.125          0.5160
8    M       0.475         0.370       0.125          0.5095
11   M       0.430         0.350       0.110          0.4060

    ShuckedWeight(g)  SellWeight(g)  Spots
0             0.2245          0.150     15
1             0.0995          0.070      7
3             0.2155          0.155     10
8             0.2165          0.165      9
11            0.1675          0.135     10

//checking the unique values for Sex column

In [7]:
# df_m_clean = df_m.fillna(value=df_m.mean())

print(df['Sex'].unique())
to_drop=df[df["Sex"] == '0']

print(to_drop)

['M' 'F' 'I' '0']
    Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
21    0       0.380         0.275       0.100          0.2255
896   0       0.255         0.180       0.055          0.0830

     ShuckedWeight(g)  SellWeight(g)  Spots
21              0.080          0.085     10
896             0.031          0.020      4

//dropping the rows that have the sex value == 0

In [8]:
to_drop=df[df["Sex"] == '0'].index
df_dropped = df.drop(to_drop)
print(df_dropped)
print(df_dropped['Sex'].unique())

check_for_0 = df_dropped[df_dropped["Sex"]=='0']
print(check_for_0)

     Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0      M       0.455         0.365       0.095          0.5140
1      M       0.350         0.265       0.090          0.2255
2      F       0.530         0.420       0.135          0.6770
3      M       0.440         0.365       0.125          0.5160
4      I       0.330         0.255       0.080          0.2050
...   ..         ...           ...         ...             ...
2092   M       0.530         0.425       0.130          0.7455
2093   F       0.505         0.385       0.115          0.6160
2094   I       0.405         0.305       0.090          0.2825
2095   M       0.415         0.300       0.100          0.3355
2096   M       0.500         0.390       0.145          0.6510

      ShuckedWeight(g)  SellWeight(g)  Spots
0               0.2245          0.150     15
1               0.0995          0.070      7
2               0.2565          0.210      9
3               0.2155          0.155     10
4               0.0895          0.055      7
...                ...            ...    ...
2092            0.2995          0.245     10
2093            0.2430          0.210     11
2094            0.1140          0.095      7
2095            0.1545          0.095      7
2096            0.2730          0.220     11

[2095 rows x 8 columns]
['M' 'F' 'I']
Empty DataFrame
Columns: [Sex, Length(mm), Diameter(mm), Height(mm), WholeWeight(g), ShuckedWeight(g), SellWeight(g), Spots]
Index: []

//dataframe for males
//showing the sum of null
////filling in the missing value for males dataset

In [9]:
df_males = df_dropped[df_dropped['Sex'] == 'M']
print(df_males.head())
print(df_males.describe())

print(df_males.isnull())
print(df_males.isnull().sum())
print(f"Total number of blank cells {df_males.isnull().sum().sum()}")





df_males_clean = df_males.fillna(value=df_males.mean())
print(df_males_clean.isnull().sum())
print(df_males_clean.isnull().sum().sum())

   Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0    M       0.455         0.365       0.095          0.5140
1    M       0.350         0.265       0.090          0.2255
3    M       0.440         0.365       0.125          0.5160
8    M       0.475         0.370       0.125          0.5095
11   M       0.430         0.350       0.110          0.4060

    ShuckedWeight(g)  SellWeight(g)  Spots
0             0.2245          0.150     15
1             0.0995          0.070      7
3             0.2155          0.155     10
8             0.2165          0.165      9
11            0.1675          0.135     10
       Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  \
count  770.000000    770.000000  771.000000      771.000000        771.000000
mean     0.558935      0.437468    0.151064        0.979768          0.428501
std      0.104083      0.086110    0.036718        0.480654          0.224155
min      0.155000      0.110000    0.000000        0.000000          0.000000
25%      0.505000      0.395000    0.130000        0.654500          0.271750
50%      0.575000      0.455000    0.150000        0.961500          0.419000
75%      0.630000      0.495000    0.175000        1.259500          0.559500
max      0.775000      0.630000    0.515000        2.825500          1.351000

       SellWeight(g)       Spots
count     770.000000  771.000000
mean        0.279716   10.642023
std         0.134216    3.035547
min         0.005000    3.000000
25%         0.190000    9.000000
50%         0.275000   10.000000
75%         0.353875   12.000000
max         0.897000   26.000000
        Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0     False       False         False       False           False
1     False       False         False       False           False
3     False       False         False       False           False
8     False       False         False       False           False
11    False       False         False       False           False
...     ...         ...           ...         ...             ...
2087  False       False         False       False           False
2090  False       False         False       False           False
2092  False       False         False       False           False
2095  False       False         False       False           False
2096  False       False         False       False           False

      ShuckedWeight(g)  SellWeight(g)  Spots
0                False          False  False
1                False          False  False
3                False          False  False
8                False          False  False
11               False          False  False
...                ...            ...    ...
2087             False          False  False
2090             False          False  False
2092             False          False  False
2095             False          False  False
2096             False          False  False

[771 rows x 8 columns]
Sex                 0
Length(mm)          1
Diameter(mm)        1
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       1
Spots               0
dtype: int64
Total number of blank cells 3
Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
Spots               0
dtype: int64
0

<ipython-input-9-33929ff3d065>:13: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_males_clean = df_males.fillna(value=df_males.mean())

//dataframe for females //showing the sum of null ////filling in the missing value for females dataset

In [10]:
df_females = df_dropped[df_dropped['Sex'] == 'M']
print(df_females.head())
print(df_females.describe())

print(df_females.isnull())
print(df_females.isnull().sum())
print(f"Total number of blank cells {df_females.isnull().sum().sum()}")





df_females_clean = df_females.fillna(value=df_females.mean())
print(df_females_clean.isnull().sum())
print(f"Total number of blank cells {df_females_clean.isnull().sum().sum()}")

   Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0    M       0.455         0.365       0.095          0.5140
1    M       0.350         0.265       0.090          0.2255
3    M       0.440         0.365       0.125          0.5160
8    M       0.475         0.370       0.125          0.5095
11   M       0.430         0.350       0.110          0.4060

    ShuckedWeight(g)  SellWeight(g)  Spots
0             0.2245          0.150     15
1             0.0995          0.070      7
3             0.2155          0.155     10
8             0.2165          0.165      9
11            0.1675          0.135     10
       Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  \
count  770.000000    770.000000  771.000000      771.000000        771.000000
mean     0.558935      0.437468    0.151064        0.979768          0.428501
std      0.104083      0.086110    0.036718        0.480654          0.224155
min      0.155000      0.110000    0.000000        0.000000          0.000000
25%      0.505000      0.395000    0.130000        0.654500          0.271750
50%      0.575000      0.455000    0.150000        0.961500          0.419000
75%      0.630000      0.495000    0.175000        1.259500          0.559500
max      0.775000      0.630000    0.515000        2.825500          1.351000

       SellWeight(g)       Spots
count     770.000000  771.000000
mean        0.279716   10.642023
std         0.134216    3.035547
min         0.005000    3.000000
25%         0.190000    9.000000
50%         0.275000   10.000000
75%         0.353875   12.000000
max         0.897000   26.000000
        Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0     False       False         False       False           False
1     False       False         False       False           False
3     False       False         False       False           False
8     False       False         False       False           False
11    False       False         False       False           False
...     ...         ...           ...         ...             ...
2087  False       False         False       False           False
2090  False       False         False       False           False
2092  False       False         False       False           False
2095  False       False         False       False           False
2096  False       False         False       False           False

      ShuckedWeight(g)  SellWeight(g)  Spots
0                False          False  False
1                False          False  False
3                False          False  False
8                False          False  False
11               False          False  False
...                ...            ...    ...
2087             False          False  False
2090             False          False  False
2092             False          False  False
2095             False          False  False
2096             False          False  False

[771 rows x 8 columns]
Sex                 0
Length(mm)          1
Diameter(mm)        1
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       1
Spots               0
dtype: int64
Total number of blank cells 3
Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
Spots               0
dtype: int64
Total number of blank cells 0

<ipython-input-10-afba1d7d1ffa>:13: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_females_clean = df_females.fillna(value=df_females.mean())

//Calculating the Mean value of Length(mm) where Sex == 'M'

In [19]:
# Filter the DataFrame based on the condition ('Sex' == 'M')
filtered_df = df[df['Sex'] == 'M']


print(filtered_df.describe())
# Calculate the mean age for the filtered rows
mean_length_males = filtered_df['Length(mm)'].mean()
mean_diameter_males = filtered_df['Diameter(mm)'].mean()
mean_height_males = filtered_df['Height(mm)'].mean()
mean_whole_weight_males = filtered_df['WholeWeight(g)'].mean()
mean_shucked_weight_males = filtered_df['ShuckedWeight(g)'].mean()
mean_sell_weight_males = filtered_df['SellWeight(g)'].mean()
mean_spots_males = filtered_df['Spots'].mean()



print("\nMean age for males:", mean_length_males)
print("Mean diameter for males:", mean_diameter_males)
print("Mean height for males:", mean_height_males)
print("Mean whole weight for males:", mean_whole_weight_males)
print("Mean shicked weighte for males:", mean_shucked_weight_males)
print("Mean sell weight for males:", mean_sell_weight_males)
print("Mean spots for males:", mean_spots_males)

       Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  \
count  771.000000    771.000000  771.000000      771.000000        771.000000
mean     0.558935      0.437468    0.151064        0.979768          0.428501
std      0.104016      0.086054    0.036718        0.480654          0.224155
min      0.155000      0.110000    0.000000        0.000000          0.000000
25%      0.505000      0.395000    0.130000        0.654500          0.271750
50%      0.575000      0.455000    0.150000        0.961500          0.419000
75%      0.630000      0.495000    0.175000        1.259500          0.559500
max      0.775000      0.630000    0.515000        2.825500          1.351000

       SellWeight(g)       Spots
count     771.000000  771.000000
mean        0.279716   10.642023
std         0.134128    3.035547
min         0.005000    3.000000
25%         0.190000    9.000000
50%         0.275000   10.000000
75%         0.353750   12.000000
max         0.897000   26.000000

Mean age for males: 0.558935064935065
Mean diameter for males: 0.43746753246753245
Mean height for males: 0.15106355382619974
Mean whole weight for males: 0.9797678339818419
Mean shicked weighte for males: 0.42850064850843056
Mean sell weight for males: 0.2797162337662338
Mean spots for males: 10.642023346303501

//Filling the Lenght(mm) null cells where the Sex == 'M'

In [18]:
# Condition: Fill NaN in 'Age' with a specific value (e.g., 30) for rows where 'Sex' is 'M'
condition = (df['Sex'] == 'M')  # Condition for selecting rows


# Use np.where to fill NaN values based on the condition
df['Length(mm)'] = np.where(condition & df['Length(mm)'].isnull(), mean_length_males, df['Length(mm)'])
df['Diameter(mm)'] = np.where(condition & df['Diameter(mm)'].isnull(), mean_diameter_males, df['Diameter(mm)'])
df['Height(mm)'] = np.where(condition & df['Height(mm)'].isnull(), mean_height_males, df['Height(mm)'])
df['WholeWeight(g)'] = np.where(condition & df['WholeWeight(g)'].isnull(), mean_whole_weight_males, df['WholeWeight(g)'])
df['ShuckedWeight(g)'] = np.where(condition & df['ShuckedWeight(g)'].isnull(), mean_shucked_weight_males, df['ShuckedWeight(g)'])
df['SellWeight(g)'] = np.where(condition & df['SellWeight(g)'].isnull(), mean_sell_weight_males, df['SellWeight(g)'])
df['Spots'] = np.where(condition & df['Spots'].isnull(), mean_spots_males, df['Spots'])

print(df)

     Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0      M       0.455         0.365       0.095          0.5140
1      M       0.350         0.265       0.090          0.2255
2      F       0.530         0.420       0.135          0.6770
3      M       0.440         0.365       0.125          0.5160
4      I       0.330         0.255       0.080          0.2050
...   ..         ...           ...         ...             ...
2092   M       0.530         0.425       0.130          0.7455
2093   F       0.505         0.385       0.115          0.6160
2094   I       0.405         0.305       0.090          0.2825
2095   M       0.415         0.300       0.100          0.3355
2096   M       0.500         0.390       0.145          0.6510

      ShuckedWeight(g)  SellWeight(g)  Spots
0               0.2245          0.150   15.0
1               0.0995          0.070    7.0
2               0.2565          0.210    9.0
3               0.2155          0.155   10.0
4               0.0895          0.055    7.0
...                ...            ...    ...
2092            0.2995          0.245   10.0
2093            0.2430          0.210   11.0
2094            0.1140          0.095    7.0
2095            0.1545          0.095    7.0
2096            0.2730          0.220   11.0

[2097 rows x 8 columns]